<div class="container jumbotron">
  <h2 class="display2">List of Medications</h2>
  <br>
  <div class="form-group row">
      <div class="col-lg-6 p-2 bd-highlight">
          <label>Select Records Per Page: </label>&nbsp;&nbsp;
        <select class="form-control mx-4" (change)="tableData($event)" class="custom-select">
          <option *ngFor="let size of tableSizesArr" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-4">
          <input type="text" [(ngModel)] = "searchCategory" (ngModelChange)="searchByCategory()" class="form-control"  placeholder="Search By Category...">
      </div>
      <div class= "col-4">
          <input type="text" [(ngModel)] = "searchName" (ngModelChange)="searchByName()" class="form-control"  placeholder="Search By Name...">
      </div>
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" (click)="sort('category')">Category &nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="sort('name')">Name &nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="sort('dose')">Dose &nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="sort('description')">Decription &nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="sort('cost')">Cost (CAD $) &nbsp;<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let medication of medications | 
          orderBy: key: reverse | 
          paginate : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
          };
          let i = index">
          <td>{{medication.category}}</td>
          <td>{{medication.name}}</td>
          <td>{{medication.dose}}</td>
          <td>{{medication.description}}</td>
          <td>{{medication.cost}}</td>     
        </tr>
          <tr>
              <td colspan="5" *ngIf ="medications.length <= 0">
                  <h6>Oops! No Medication Record Found!</h6>
              </td> 
          </tr>
      </tbody>
      <div class="d-flex justify-content-center">
        <pagination-controls  previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
        </pagination-controls>
      </div>
  </table>
</div>
